{% extends "student/layout.html" %}

{% block body %}
   <h2>Add a course</h2>
   
   <form action="{% url 'new_course' %}"} method="POST" class="flex-form">
       {% csrf_token %}
         {% for field in form %}
            <div class="form-group">
               {{ field.label_tag }}
               {{ field }}
            </div>
         {% endfor %}
         
      <input type="submit" value="Add Course">
      
   </form>
   <div>
      <a href="{% url 'index' %}">Cancel</a>
   </div>
   


{% endblock %}